<header class="main-header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <p class="logo navbar-item has-text-white">A<span class="pop">Q</span>IR</p>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-white" href="/home">Home</a>
        <a class="navbar-item has-text-white" href="/add-product">Add Product</a>
        <a class="navbar-item has-text-white" href="/userAcct">Account</a>
      </div>
      <div class="navbar-brand">
        
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item has-text-white navbar-end"><i class="fas fa-shopping-cart is-primary" href="/cart"></i></a>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button signUpBtn" href="/logout">
              <strong>Log Out</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row columns is-multiline">
      {{> products/productCard}}
    </div>
  </div>
  <script type="text/javascript" src="js/members.js"></script>