<header class="main-header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-primary" href="/home">Home</a>
        <a class="navbar-item has-text-primary" href="/add-product">Add Product</a>
        <a class="navbar-item has-text-primary" href="/userAcct">Account</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item has-text-primary navbar-end"><i class="fas fa-shopping-cart is-primary" href="/cart"></i></a>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary signUpBtn" href="/logout">
              <strong>Log Out</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2>User Name: <span class="member-user_name"></span></h2>
      <h2>Email: <span class="member-user_email"></span></h2>
      <h2>Name : <span class="member-user_first_name"></span><span class="member-last_name"></span></h2>
    </div>
  </div>
</section>

<h1>Your Products for Sale</h1>

<div class="container">
    <div class="row columns is-multiline">
        {{!-- <div class="column is-3"> --}}
            {{> products/productCard}}
        {{!-- </div> --}}
    </div>
</div>
<script type="text/javascript" src="js/members.js"></script>