<div class="jumbotron">
    <div class="container">
       <h1>Hello {{first_name}} {{Last_name}}!</h1>
       <p>You are login with an email of {{email}}</address></p>
       <p>Well done!</p>
    </div>

</div>